@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, product-sans;
}
section
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0e5ff;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 50px;
}
.container
{
    position: relative;
    width: calc(100% - 100px);
    min-height: calc(100vh - 280px);
    min-height: 300px;
    background: rgba(255,255,255,0.5);
    box-shadow: 0 15px 35px rgba(0,0,0,0.05);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}
header
{
    position: absolute;
    top: -40px;
    right: 20px;
    left: 20px;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255,255,255,0.2);
    box-shadow: 0 15px 35px rgba(0,0,0,0.05);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.25);
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
}
header .logo
{
    color: 3a405a;
    font-weight: 600;
    text-decoration: none;
    font-size: 1.4rem;
}
header ul
{
    display: flex;
}
header ul li
{
    list-style: none;
    margin: 0 10px;
}
header ul li a
{
    text-decoration: none;
    font-weight: 500;
    color: #3a405a;
    padding: 8px 15px;
    border-radius: 25px;
}
header ul li a:hover,
header ul li a.active
{
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.content
{
    transform: translateX(-100px);
    max-width: 780px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.25);
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    padding: 40px;
    padding-left: 110px;
}
.container h2
{
    font-size: 2em;
    color: #3a405a;
}
.content p
{
    font-size: 1.4em;
    padding-top: 15px;
    font-weight: 500;
    color: #3a405a;
}
.content a
{
   display: inline-block;
   padding: 10px 25px;
   background: #fff; 
   color: #3a405a;
   margin-top: 20px;
   border-radius: 30px;
   font-size: 1.2em;
   font-weight: 500;
   text-decoration: none;
   box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.content a:hover
{
    background: rgba(0,0,0,0.2);
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}
.imgBx img
{
    max-width: 300px;
    animation: animate 8s linear infinite;
}
@keyframes animate
{
    0%,100%
    {
        transform: translateY(50px);
    }
    50%
    {
        transform: translateY(100px);
    }
}
.sci
{
    position: absolute;
    right: -25;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sci li
{
    list-style: none;
}
.sci li a
{
    text-decoration: none;
    width: 50px;
    height: 50px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 5px 0;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.sci li a img
{
    transform: scale(0.6);
    transition: 0.7s;
}
.sci li:hover a img
{
    transform: scale(0.6) rotate(360deg);
}
.copyrightText
{
    position: absolute;
    bottom: 30px;
    left: 50px;
    color: #3a405a;
}

.copyrightText a
{
    text-decoration: none;
    color: #4758a1;
}
.copyrightText a:hover
{
    color: #3a405a;
}

@media (max-width: 1200px)
{
    .container 
    {
        position: relative;
        width: calc(100% - 20px);
    }
}

@media (max-width: 992)
{
    section
    {
        padding: 50px 10px 10px;
    }
    .container
    {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }
    .container .content
    {
        transform: translateX(0px);
        max-width: 100%;
        padding: 30px;
        margin-top: -40px;
    }
header
{
position: relative;
flex-direction: column;
width: 100%;
top: -60px;
padding: 20px;
right: 0;
left: 0;
}

header ul
{
    margin-top: 10px;
    flex-wrap: wrap;
    justify-content: center;
}
header ul li
{
    margin: 2px;
}
header ul li a
{
    display: inline-block;
}
.imgBx
{
    margin-bottom: 50px;
}
.content a
{
    font-size: 1em;
    padding: 10px 20px;
}
@keyframes animate
{
    0%,100%
    {
        transform: translateY(-20px);
    }
    50%
    {
        transform: translateY(20px);
    }
}
.sci
{
    position: relative;
    flex-direction: row;
    left: 0;
    }
}